@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@300;400;500;600;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    background: #F4F4F4;
}
/* Custome Class Start  */
.bg-off-white {
    background-color: #f4f4f4;
}
.bg-white {
    background: #FDFDFD;
}

.moneyboy-feed-page-container .moneyboy-feed-page-cate-buttons .page-content-type-button:hover, .moneyboy-feed-page-container .moneyboy-feed-page-cate-buttons .page-content-type-button.active {
  color: #fece26;
  background-color: #010405;
}

.footer_main {
  position: relative;
  z-index: 10;
  bottom: 0;
  height: var(--header-height);
  background: #FDFDFD;
  box-shadow: 0px 6px 4px -4px #08080803, 0px 2px 1.5px -4px #0808080A;
  gap: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  .ft_links {
      display: flex;
      gap: 15px;
      align-items: center;
      li {
          color: #444444;
          font-weight: 500;
          font-size: 12px;
          line-height: 16px;
          letter-spacing: 0px;
          font-style: normal;
          font-family: var(--font-family-base);
          text-underline-offset: 2px;
          transition: var(--transition-fast); 
          &:hover {
              /* background: linear-gradient(103.7deg, #fece26 4.76%, #e5741f 118.16%);
              -webkit-background-clip: text;
              -webkit-text-fill-color: transparent; */
              text-decoration: underline;
              color: var(--color-text-active);
          }
          a {
              display: block;
              color: unset;
          }
      }
  }
  .ftright {
      display: flex;
      gap: 15px;
      align-items: center;
      .footer-logo {
          cursor: pointer;
          transition: var(--transition-fast);
          img {
              max-width: 50px;
              transition: var(--transition-fast);
          }
          &:hover img {
              transform: translateY(-2px);
          }
      }
      p {
          color: #444444;
          font-weight: 500;
          font-size: 12px;
          line-height: 16px;
          letter-spacing: 0px;
          font-style: normal;
          font-family: var(--font-family-base);
          text-underline-offset: 2px;
          transition: var(--transition-fast); 
          a {
              color: #444444;
              &:hover {
                  text-decoration: underline;
                  color: var(--color-text-active);
              }
          }
      }
  }
  @media (max-width: 768px) {
    padding: 25px;
    flex-direction: column;
    height: auto;
    margin: 0px;
    width: 100%;
    max-width: 100%;
    .ft_links {
      flex-wrap: wrap;
      justify-content: center;
    }
    .ftright {
      flex-wrap: wrap;
      justify-content: center;
    }
  }
}

.or-divider {
  display: flex;
  align-items: center;
  text-align: center;
  color: #999;
  margin: 15px 0;
  width: 100%;
  &::before, &::after {
        content: ""; flex: 1; border-bottom: 1px solid #e0e0e0;
  }
  span {
        padding: 0 12px;
        background: #fff;
        color: #505050;
        font-weight: 600;
        font-style: normal;
        font-size: 16px;
        line-height: 100%;
        letter-spacing: 0px;
        font-family: var(--font-family-base);
  }
}

/* Custome class Start  */
.mb-0 {
 margin-bottom: 0px !important;
}
.mb-10 {
  margin-bottom: 15px !important;
}

/* Login Page Start */
.login_wrap {
  height: 100%;
  min-height: calc(100dvh - 55px);
  max-height: calc(100dvh - 85px);
  overflow: hidden;
  background: #F4F4F4;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: center;
  &.w1440 {
      max-width: 1440px;
  }
  .img_wrap {
      position: relative;
      flex: 0.60;
      display: flex;
      align-items: center;
      justify-content: center;
      img.login_imgwrap {
          width: 100%;
          height: 100%;
          object-fit: cover;
      }
  }
  .cont_wrap {
    flex: 0.40;
    display: flex;
    flex-direction: column;
    align-self: center;
    padding: 20px 40px 20px;
    overflow-y: auto;
    max-height: calc(100vh - 55px);
    scrollbar-width: none;
    -ms-overflow-style: none;
    &::-webkit-scrollbar {
        display: none;
    }
    .logo_wrap {
        max-width: 240px;
        width: 100%;
        height: auto;
        margin: 0 auto;
    }
    .main_cont {
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 15px;
    .moneyboy-feed-page-cate-buttons {
        border-radius: 18px;
        top: 0px;
        button {
         /* padding: 14px 0px; */
        }
    }
    .moneyboy-post__container.card {
        border-radius: 27px;
        padding: 30px;
    }
    h3.heading {
        text-align: center;
        color: var(--color-text-active);
        font-size: 26px;
        line-height: 30px;
        font-weight: 400;
        letter-spacing: 0px;
        font-style: normal;
        text-transform: capitalize;
        font-family: var(--font-family-heading);
        margin-bottom: 8px;
    }
    p {
        text-align: center;
        color: #505050;
        font-size: 12px;
        line-height: 16px;
        font-weight: 500;
        letter-spacing: 0px;
        font-style: normal;
        font-family: var(--font-family-base);
        margin-bottom: 10px;
        &.fs-18 {
            font-size: 14px;
            font-weight: 500;
        }
        a {
            color: #E5741F;
        }
    }
    ul.benefitspoint {
        padding: 0px;
        margin: 0 auto 15px;
        list-style: none;
        li {
            position: relative;
            padding-inline-start: 15px;
            color: #505050;
            font-weight: 500;
            font-size: 13px;
            line-height: 18px;
            letter-spacing: 0px;
            font-style: normal;
            font-family: var(--font-family-base);
            margin-bottom: 10px;
            &:last-child {
            margin-bottom: 0px;    
            }
            &::before {
                content: "";
                position: absolute;
                left: 0;
                top: 10px;
                transform: translateY(-50%);
                width: 8px;
                height: 8px;
                border-radius: 50%;
                background: linear-gradient(103.7deg, #FECE26 4.76%, #E5741F 118.16%);
                /* box-shadow: 0 0 0 4px rgba(255, 184, 31, 0.25); */
            }
        }
    }
    .loginbtn_wrap {
        display: flex;
        z-index: 9;
        border-radius: 16px;
        gap: 8px;
        transition: var(--transition-normal);
        margin-bottom: 10px;
        button {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 3px;
            border-radius: 14px;
            padding: 13px 8px;
            color: #020202;
            cursor: pointer;
            font-weight: 500;
            font-style: normal;
            width: 100%;
            font-size: 10px;
            line-height: 100%;
            text-transform: capitalize;
            letter-spacing: 0.5px;
            font-family: var(--font-family-heading);
            transition: var(--transition-fast);
            &.google-button {
                background-color: #FFFFFF;
                border: 1px solid #F0EFEF;
                box-shadow: 0px 5px 35px 0px #1212120D;
            }
            &.x-button {
                color: #FFF;
                background-color: #121212;
            }
        }
    }
    .or-divider {
        max-width: 80%;
        margin: 15px auto;
    }
    .form_grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 12px;
        margin-bottom: 15px;
        .one {
            grid-column: 1 / -1;
        }
    }
    .label-input {
        &.password {
            position: relative;
            .eye-icon {
                position: absolute;
                right: 10px;
                left: auto;
                z-index: 1;
                cursor: pointer;
            }
        }
        &.file-upload-wrapper {
            position: relative;
            z-index: 0;
            background: #FFFFFF;
            border: 1.5px solid #ebebeb;
            padding: 10px;
            color: #444444;
            font-size: 14px;
            line-height: 100%;
            font-weight: 500;
            letter-spacing: 0px;
            font-family: var(--font-family-base);
            input {
                padding: 0px;
                position: absolute;
                inset: 0;
                opacity: 0;
                cursor: pointer;
            }
            .input-placeholder-icon {
                background-color: #f4f4f4;
                border-radius: 15px;
                width: 60px;
                height: 60px;
                min-width: 60px;
                display: grid;
                place-items: center;
                position: relative;
                left: 0px;
                margin-right: 5px;
                .imgicons {
                    position: absolute;
                    bottom: 0px;
                    right: 0px;
                    padding: 3px;
                    border-radius: 8px;
                    background-color: #FDFDFD;
                    box-shadow: 0px 6px 4px -4px #08080803, 0px 2px 1.5px -4px #0808080A, 0px 4px 4px 0px #00000017;
                }
            }
            p {
                text-align: left;
                color: #444444;
                font-weight: 500;
                font-size: 12px;
                line-height: 100%;
                margin-bottom: 0px;
            }
        }
        .input-placeholder-icon {
            z-index: 1;
        }
        &.textarea {
            .input-placeholder-icon {
            top: 12px;
            }
        }
        input, textarea {
            z-index: 0;
            background: #FFFFFF;
            padding: 14px;
            padding-inline-start: 35px;
            color: #444444;
            font-size: 12px;
            line-height: 100%;
            font-weight: 500;
            letter-spacing: 0px;
            font-family: var(--font-family-base);
        }
    }
    .custom-select-label-wrapper {
        padding: 14px 9px;
        background: #FFFFFF;
        color: #444444;
        font-size: 12px;
        line-height: 100%;
        font-weight: 500;
        letter-spacing: 0px;
        font-family: var(--font-family-base);

    }
    .premium-btn {
        /* padding: 16px; */
        max-width: 50%;
        width: 100%;
        margin: 10px auto;
        &:last-child {
        margin-bottom: 0px;
        }
    }
    .account_login {
        text-align: center;
        color: #505050;
        font-size: 16px;
        line-height: 20px;
        font-weight: 600;
        letter-spacing: 0px;
        font-style: normal;
        font-family: var(--font-family-base);
        margin-bottom: 15px;
        a {
            color: #E5741F;
            &:hover {
            text-decoration: underline;    
            }
        }
    }
    }
  }
  &.creator_wrap {
    .cont_wrap {
      flex: auto;
      padding: 0px;
      scrollbar-width: none;
      -ms-overflow-style: none;
      &::-webkit-scrollbar {
          display: none;
        }
      .main_cont {
          max-width: 100%;
          h3.heading {
              font-size: 40px;
              line-height: 44px;
          }
          .premium-btn {
              max-width: 30%;
              margin: 10px auto;
          }
          .creator_maingrid {
              display: grid;
              grid-template-columns: 1fr 1fr 1fr;
              gap: 12px;
              margin-bottom: 15px;
              .form_grid {
                  grid-column: span 2;
              }
              .right_wrap {
                  display: flex;
                  flex-direction: column;
                  gap: 15px;
                  .label-input{
                      &.file-upload-wrapper {
                          padding: 20px 12px;
                      }
                  }
              }
          }
      }
    }
  }
  /* ========== Mobile Screen Size ========== */
  @media screen and (max-width:767px) {
    flex-direction: column;
    max-height: none;
    min-height: auto;
    overflow-y: auto;
    .img_wrap {
      display: none;
    }
    .cont_wrap {
      order: 2;
      flex: 0 0 auto;
      width: 100%;
      padding: 25px;
      align-self: stretch;
      height: auto;
    }
    .cont_wrap .logo_wrap {
      max-width: 220px;
    }
    .cont_wrap .main_cont {
      max-width: 100%;
      gap: 12px;
    }
    .loginbtn_wrap {
      display: flex;
      flex-direction: column;
      button {
          padding: 14px;
      }
    }
    .form_grid {
    grid-template-columns: 1fr !important;
    .one {
        grid-column: 1;
    }
    }
    .cont_wrap .main_cont .moneyboy-post__container.card {
      padding: 20px 16px;
      border-radius: 18px;
    }
    .cont_wrap .main_cont h3.heading {
      font-size: 28px;
      line-height: 32px;
      margin-bottom: 10px;
    }
    .cont_wrap .main_cont ul li {
      font-size: 14px;
      line-height: 18px;
      margin-bottom: 8px;
    }
    .cont_wrap .main_cont .account_login {
      font-size: 14px;
      line-height: 18px;
      margin-bottom: 10px;
    }
  }
  /* ========== Tablet Screen Size ========== */
  @media screen and (min-width:768px)and (max-width:1024px) {
    flex-direction: column;
    max-height: none;
    min-height: auto;
    overflow-y: auto;
    .img_wrap {
        max-height: 200px;
        overflow: hidden;
    }
    .cont_wrap {
        order: 2;
        flex: 0 0 auto;
        width: 100%;
        padding: 25px;
        align-self: stretch;
        height: calc(100vh - 295px);
        overflow-y: auto;
    }
    .cont_wrap .logo_wrap {
        max-width: 260px;
    }
    .cont_wrap .main_cont {
        max-width: 100%;
        gap: 12px;
    }
    .cont_wrap .main_cont .moneyboy-post__container.card {
        padding: 30px;
        border-radius: 20px;
    }
    .cont_wrap .main_cont h3.heading {
        font-size: 32px;
        line-height: 34px;
        margin-bottom: 10px;
    }
    .cont_wrap .main_cont ul li {
        font-size: 16px;
        line-height: 20px;
        margin-bottom: 8px;
    }
    .cont_wrap .main_cont .account_login {
        margin-bottom: 10px;
    }
  }
  /* ========== Small Screen Size ========== */
  @media screen and (min-width:1024px)and (max-width:1299px) {
    .img_wrap {
        flex: 0.55;
    }
    .cont_wrap {
        flex: 0.45;
        .main_cont {
            max-width: 100%;
        }
    }
  }
  /* ========== DESKTOP <= 1400px ONLY ========== */
  @media screen and (min-width: 1200px) and (max-width: 1600px) {
    height: calc(100vh - 55px);
    min-height: unset;
    max-height: unset;
    overflow: hidden;
    .cont_wrap {
        height: 100%;
        overflow: hidden !important;
        padding: 20px 32px;
        .main_cont {
            max-width: 100%;
            max-height: 100%;
            overflow: hidden;
            gap: 8px;
            .logo_wrap {
                max-width: 150px;
            }
            .moneyboy-feed-page-cate-buttons {
                border-radius: 9px;
                .page-content-type-button {
                    padding: 10px 0;
                    font-size: 12px;
                    border-radius: 9px;
                }
            }
            h3.heading {
                font-size: 22px;
            }
            p {
                font-size: 12px;
            }
            ul.benefitspoint {
                margin: 0 auto 10px;
                li {
                    font-size: 12px;
                    margin-bottom: 6px;
                }
            }
            .premium-btn {
                margin: 7px auto;
                padding: 10px 0px;
                border-radius: 9px;
                span {
                    font-size: 12px;
                }
            }
            .loginbtn_wrap {
                border-radius: 7px;
                gap: 5px;
                margin-bottom: 6px;
                button {
                    padding: 10px 8px;
                    border-radius: 12px;
                }
            }
            .or-divider {
                max-width: 80%;
                margin: 10px auto;
            }
            .form_grid {
                gap: 8px;
                margin-bottom: 10px;
            }
            .label-input {
                &.file-upload-wrapper {
                    padding: 10px;
                    font-size: 12px;
                    .input-placeholder-icon {
                        width: 50px;
                        height: 50px;
                        min-width: 50px;
                    }
                }
                input, textarea {
                    border-radius: 10px;
                    padding: 10px;
                    padding-inline-start: 30px;
                    color: #444444;
                    font-size: 12px;
                }
                .svg-icon {
                    width: 18px;
                    height: 18px;
                }
            }
            .custom-select-label-wrapper {
                padding: 10px 9px;
            }
            .account_login {
              font-size: 12px;
              line-height: 16px;
              margin-bottom: 0px !important;
            }
        }
    }
    &.creator_wrap {
     height: auto;
     overflow: auto;
     .cont_wrap {
         overflow: auto !important;
       .main_cont {
         overflow: unset;
         .logo_wrap {
            margin-top: 20px;
            max-width: 150px;
         }
           h3.heading {
               font-size: 22px;
               line-height: 26px;
           }
           .premium-btn {
               max-width: 30%;
               margin: 8px auto;
           }
           .creator_maingrid {
               gap: 8px;
               margin-bottom: 10px;
               .right_wrap {
                   gap: 8px;
                   .label-input{
                       &.file-upload-wrapper {
                           padding: 10px 12px !important;
                       }
                   }
               }
           }
       }
     }
    }
  }
}