@media (max-width:1200px) {
    .multi-dem-cards-wrapper-layout {
        &[ data-direct-cards-layout] {
            &[data-layout-toggle-rows] {}
        }

        &[data-multi-child-grid-layout-wishlist] {
            .creator-content-type-container-wrapper {
                grid-template-columns: 1fr 1fr;
            }

            &[data-layout-toggle-rows] {
                .creator-content-type-container-wrapper {
                    .creator-content-card-container {
                        .creator-content-card {
                            .creator-content-card__media {}

                            .desc-btns {}

                            .creator-content-card__stats {}
                        }
                    }
                }
            }
        }
    }

    .moneyboy-diff-content-wrappers {
        .creator-content-filter-grid-container {
            .search-features-grid-btns {
                .creator-content-tabs-btn-wrapper {
                    button.multi-tab-switch-btn {
                        span {
                            display: none;
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 1280px) and (min-width: 992px) {
    :root {
        /* --sidebar-width: 260px; */
    }

    .sidebar-footer-card {
        display: none;
    }

    .moneyboy-layout-container {
        & .moneyboy-main-asides-layout-container {
            & .moneyboy-global-sidebar-wrapper {

                /* align-items: stretch; */
                & .global-sidebar-container {
                    background-color: white;
                    padding: 10px;
                    border-radius: 16px;
                    box-shadow: var(--card-shadow);

                    /* height: 100%; */
                    .sidebar-profile-card {
                        box-shadow: none;
                        padding: 0;
                        background: none;

                        .profile-card {
                            padding: 0;

                            .profile-card__stats {
                                display: none;
                            }

                            .profile-card__main {
                                flex-direction: column;
                                gap: 16px;

                                .profile-card__info {
                                    display: none;
                                }
                            }
                        }
                    }

                    .sidebar-post-button {
                        .btn-primary {
                            padding: 0;
                            aspect-ratio: 1/1;
                            width: 100%;

                            svg {
                                transform: scale(1.23);
                            }

                            span {
                                display: none;
                            }
                        }
                    }

                    .sidebar-navigation-container {
                        background: none;
                        box-shadow: none;
                    }
                }
            }

            .moneyboy-page-content-container {
                & .moneyboy-dynamic-content-layout {
                    & .moneyboy-2x-1x-layout-container {
                        .moneyboy-2x-1x-b-layout {
                            /* display: none; */
                        }
                    }
                }
            }
        }
    }

    .sidbar-navigation {
        box-shadow: none;
        padding: 5px;

        ul {
            li {
                a {
                    aspect-ratio: 1/1;
                    width: 100%;
                    border-radius: 12px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    padding: 0;

                    div {
                        svg {
                            width: 30px;

                            path {}
                        }

                        span {
                            display: none;
                        }
                    }

                    &.active,
                    &:hover {
                        div {
                            svg {
                                &.wishlist-icon {
                                    path:nth-child(3) {}
                                }

                                path {}
                            }

                            span {}
                        }
                    }

                    &.active {
                        div {
                            svg {
                                path {}
                            }

                            span {}
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 992px) {
    :root {
        --sidebar-width: 260px;
    }

    .moneyboy-layout-container {
        & .moneyboy-main-asides-layout-container {
            & .moneyboy-global-sidebar-wrapper {
                & .global-sidebar-container {
                    gap: 12px;

                    .sidebar-profile-card {
                        .profile-card {
                            .profile-card__main {
                                .profile-card__info {}
                            }
                        }
                    }

                    .sidebar-post-button {
                        .btn-primary {
                            svg {}

                            span {}
                        }
                    }

                    .sidebar-navigation-container {}
                }
            }

            .moneyboy-page-content-container {
                & .moneyboy-dynamic-content-layout {
                    & .moneyboy-2x-1x-layout-container {
                        flex-direction: column;

                        .moneyboy-2x-1x-b-layout {
                            /* display: none; */
                            max-width: 100%;
                            width: 100%;
                        }
                    }
                }
            }
        }
    }

    .multi-dem-cards-wrapper-layout {
        &[ data-direct-cards-layout] {
            &[data-layout-toggle-rows] {}
        }

        &[data-multi-child-grid-layout-wishlist] {
            grid-template-columns: 1fr;

            .creator-content-type-container-wrapper {}

            &[data-layout-toggle-rows] {
                .creator-content-type-container-wrapper {
                    .creator-content-card-container {
                        .creator-content-card {
                            .creator-content-card__media {}

                            .desc-btns {}

                            .creator-content-card__stats {}
                        }
                    }
                }
            }
        }
    }

    .content-creator-profile-tabs-layout-wrapper {
        .multi-dem-cards-wrapper-layout {
            &[data-direct-cards-layout] {
                grid-template-columns: 1fr 1fr 1fr;
            }
        }
    }
}

@media (max-width: 992px) {
    .multi-dem-cards-wrapper-layout {
        grid-template-columns: 1fr 1fr;

        &:has(.col-4-cards-layout) {
            grid-template-columns: 1fr;

            .col-4-cards-layout {
                grid-template-columns: 1fr 1fr;
            }
        }

        &[data-layout-toggle-rows] {
            grid-template-columns: 1fr;
        }

        &[data-temporary-pause] {
            grid-template-columns: 1fr;
        }
    }
}

@media (max-width: 768px) {
    :root {
        --sidebar-width: 100%;
    }

    .mobile-navigations-container {
        display: block;
    }

    .moneyboy-layout-container {
        .header-main {}

        .moneyboy-main-asides-layout-container {
            flex-direction: column-reverse;
            gap: 8px;
            padding: 10px 0 90px;

            /* Conditional Styling: Adjusts sidebar width when a custom scrollbar is present (via the `has-scroll` class) */
            &:has(.moneyboy-global-sidebar-wrapper.has-scroll) {
                .moneyboy-global-sidebar-wrapper {}
            }

            /* Global Sidebar Wrapper: Defines the structural constraints for the left navigation/sidebar */
            .moneyboy-global-sidebar-wrapper {
                padding: 0;
                width: 100%;
                max-width: 100%;
                min-width: 100%;
                padding: 0;
                margin: 0;
                border-radius: 18px;
                position: relative;
                top: unset;

                &:hover {}

                /* Sidebar Content Alignment */
                .global-sidebar-container {
                    width: 100%;
                    padding: 0;
                    margin: 0;

                    .sidebar-profile-card {
                        display: none;
                    }

                    /* Placeholder for component styling */
                    .sidebar-post-button {
                        position: fixed;
                        bottom: 87px;
                        right: 15px;
                        z-index: 99;
                        width: 60px;
                        aspect-ratio: 1/1;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        border-radius: 100%;

                        .btn-primary {
                            width: 100%;
                            aspect-ratio: 1/1;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            border-radius: 100%;

                            span {
                                display: none;
                            }

                            svg {
                                transform: scale(1.15);
                            }
                        }
                    }

                    /* Placeholder for component styling */
                    .sidebar-navigation-container {
                        display: none;
                    }

                    /* Placeholder for component styling */
                    .sidebar-footer-card.card {
                        border-radius: inherit;
                    }
                }
            }

            /* Main Page Content Area: Primary flexible container */
            .moneyboy-page-content-container {
                padding: 0;

                /* Dynamic Content Wrapper */
                .moneyboy-dynamic-content-layout {

                    /* 2-Column Responsive Grid (2x / 1x pattern) */
                    .moneyboy-2x-1x-layout-container {
                        .moneyboy-2x-1x-a-layout {}

                        .moneyboy-2x-1x-b-layout {}

                        /* Specific Page Layout Override (e.g., Creator Profile) */
                        .creator-profile-page-container {
                            .creator-profile-front-content-container {
                                .creator-profile-page-multi-tab-section {
                                    .creator-profile-page-multi-tab-container {}
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 620px) {
    .moneyboy-diff-content-wrappers {
        .creator-content-filter-grid-container {
            .search-features-grid-btns {
                border-radius: 16px;
                padding: 8px;

                &.has-multi-tabs-btns {
                    flex-wrap: wrap;
                    justify-content: end;

                    .creator-content-search-input {
                        width: 100%;
                    }

                    &.one-row-content-wrapper {
                        flex-wrap: nowrap;
                        justify-content: space-between;

                        .creator-content-search-input {
                            width: 90%;
                        }
                    }
                }

                .creator-content-search-input {
                    width: 50%;
                }

                .creater-content-filters-layouts {
                    gap: 12px;
                    width: 48%;
                    justify-content: right;

                    .creator-content-grid-layout-options {
                        gap: 12px;

                        .creator-content-grid-layout-btn {
                            width: 20px;
                        }
                    }
                }
            }
        }

        .user-profile-card-wrapper {
            &.user-profile-card-small {
                & .user-profile-card-container {
                    .user-profile-content-overlay-container {
                        padding: 6px;
                    }
                }
            }
        }
    }

    .tabs-content-wrapper-layout {
        /* padding: 12px; */
    }

    .multi-dem-cards-wrapper-layout {
        &[data-multi-child-grid-layout-wishlist] {
            .creator-content-type-container-wrapper {
                gap: 10px;
            }
        }
    }

    .moneyboy-diff-content-wrappers {
        .creator-content-filter-grid-container {
            .search-features-grid-btns {
                .creator-content-tabs-btn-wrapper {
                    width: 48%;

                    button.multi-tab-switch-btn {
                        span {}
                    }
                }
            }
        }
    }

    .content-creator-profile-tabs-layout-wrapper {
        .multi-dem-cards-wrapper-layout {
            &[data-direct-cards-layout] {
                grid-template-columns: 1fr 1fr;

                &[data-layout-toggle-rows] {
                    & .creator-content-card {
                        .creator-content-card__media {
                            max-width: 150px;
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 560px) {
    .multi-dem-cards-wrapper-layout {
        gap: 12px;
    }

    .multi-dem-cards-wrapper-layout {
        &[data-layout-toggle-rows] {
            .col-4-cards-layout {
                .creator-media-card {
                    .creator-media-card__media-wrapper {
                        max-width: 150px;
                    }

                    .creator-media-card__desc {}

                    .creator-media-card__btn {}
                }
            }
        }
    }
}