@media (max-width: 1280px) {
    .header-main {
        .header-container {
            padding-inline: 8px;

            .header-logo {}
        }
    }

    /* Profile Card */
    .profile-card {
        &.featured-profile-card {
            .profile-card__main {
                .profile-card__avatar-settings {
                    .profile-card__avatar {
                        &::before {}

                        img {}
                    }
                }

                .profile-card__info {
                    .profile-card__name-badge {
                        .profile-card__name {}

                        .profile-card__badge {
                            img {}
                        }
                    }

                    .profile-card__username {
                        &:hover {}
                    }
                }
            }

            &:hover {
                .profile-card__main {
                    .profile-card__icon {
                        .profile-card__blur-icon {}
                    }
                }
            }
        }

        .profile-card__bg-img {
            &::before {}

            &::after {}

            img {}

            &~* {}

            img {}
        }

        .profile-card__main {
            .profile-card__avatar-settings {
                .profile-card__avatar {
                    img {}
                }

                .profile-card__settings {
                    svg {}
                }
            }

            .profile-card__info {
                .profile-card__name-badge {
                    .profile-card__name {}

                    .profile-card__badge {
                        img {}
                    }
                }

                .profile-card__username {
                    &:hover {}
                }
            }

            .profile-card__icon {
                .profile-card__blur-icon {
                    &:active {}

                    &:hover {}

                    &.like-button {
                        &.liked {
                            svg {
                                path {}
                            }
                        }
                    }
                }
            }
        }

        .profile-card__stats {
            .profile-card__stats-item {
                &:hover {

                    .profile-card__stats-num,
                    .profile-card__stats-label span {}

                    .profile-card__stats-label {
                        svg {
                            path {}
                        }
                    }
                }

                .profile-card__stats-num {}

                .profile-card__stats-label {
                    svg {
                        path {}
                    }

                    span {}
                }
            }
        }

        .profile-card__desc {
            p {}
        }
    }

    /* Filters */
    /* Filter Section */
    .content-filters-main-wrapper {
        .content-filters-head-wrapper {
            .content-basic-filters-wrapper {
                .content-basic-filters-container {
                    grid-template-columns: 1fr 1fr;

                    .content-filter-card-wrapper {}
                }
            }
        }

        .content-advanced-filters-wrapper {
            .content-advanced-filters-layout {
                .custom-select-element {}
            }
        }
    }
}

@media (max-width: 992px) {
    .header-main {
        .header-container {
            padding-inline: 4px;

            .header-logo {}
        }
    }

    /* Filter Section */
    .content-filters-main-wrapper {
        .content-filters-head-wrapper {
            .content-basic-filters-wrapper {
                .content-basic-filters-container {
                    .content-filter-card-wrapper {}
                }
            }
        }

        .content-advanced-filters-wrapper {
            .content-advanced-filters-layout {
                grid-template-columns: 1fr 1fr;

                .custom-select-element {}
            }
        }
    }

    .header-main {
        & .header-container {
            & .header-logo {
                & a {
                    img {
                        height: auto;
                        width: 170px;
                    }
                }
            }

            .header-search-nav-profile-container {
                .header-search-input {
                    display: none;
                }

                /* ---------------------- */
                .header-navigation {
                    nav {
                        ul {
                            li {
                                &.message-btn {
                                    display: none;
                                }
                            }
                        }
                    }
                }

                /* ---------------------- */
            }
        }
    }

    /* Profile Card */
    .profile-card {
        &.featured-profile-card {
            .profile-card__main {
                .profile-card__avatar-settings {
                    .profile-card__avatar {
                        &::before {}

                        img {}
                    }
                }

                .profile-card__info {
                    .profile-card__name-badge {
                        .profile-card__name {}

                        .profile-card__badge {
                            img {}
                        }
                    }

                    .profile-card__username {
                        &:hover {}
                    }
                }
            }

            &:hover {
                .profile-card__main {
                    .profile-card__icon {
                        .profile-card__blur-icon {}
                    }
                }
            }
        }

        .profile-card__bg-img {
            &::before {}

            &::after {}

            img {}

            &~* {}

            img {}
        }

        .profile-card__main {

            /* flex-direction: column;
             align-items: center; */
            .profile-card__avatar-settings {
                .profile-card__avatar {
                    img {}
                }

                .profile-card__settings {
                    svg {}
                }
            }

            .profile-card__info {
                .profile-card__name-badge {
                    .profile-card__name {}

                    .profile-card__badge {
                        img {}
                    }
                }

                .profile-card__username {
                    &:hover {}
                }
            }

            .profile-card__icon {
                .profile-card__blur-icon {
                    &:active {}

                    &:hover {}

                    &.like-button {
                        &.liked {
                            svg {
                                path {}
                            }
                        }
                    }
                }
            }
        }

        .profile-card__stats {
            .profile-card__stats-item {
                &:hover {

                    .profile-card__stats-num,
                    .profile-card__stats-label span {}

                    .profile-card__stats-label {
                        svg {
                            path {}
                        }
                    }
                }

                .profile-card__stats-num {}

                .profile-card__stats-label {
                    svg {
                        path {}
                    }

                    span {}
                }
            }
        }

        .profile-card__desc {
            p {}
        }
    }

    .creator-profile-card-container {
        &.user-profile-card {
            .creator-profile-info-container {
                .profile-card {
                    .profile-info-buttons {
                        .creator-profile-buttons {
                            padding: 0;

                            ul {
                                li {
                                    a {
                                        svg {}

                                        &:hover,
                                        &.active {
                                            svg {
                                                path {}
                                            }
                                        }

                                        &:active {}
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }

        .creator-profile-banner {
            &::before {}

            img {}
        }

        .creator-profile-info-container {
            .profile-card {
                .profile-info-buttons {
                    flex-direction: column;
                    align-items: center;
                    gap: 20px;
                    gap: 14px;
                    margin-top: -60px;

                    .profile-card__main {
                        align-items: center;
                        flex-direction: column;

                        .profile-card__avatar-settings {
                            .profile-card__avatar {
                                &::before {}

                                img {}
                            }
                        }

                        .profile-card__info {
                            .profile-card__name-badge {
                                .profile-card__name {}

                                .profile-card__badge {
                                    img {}
                                }
                            }

                            .profile-card__username {
                                &:hover {}
                            }
                        }
                    }

                    .creator-profile-buttons {
                        padding-bottom: 0;

                        ul {
                            li {
                                a {
                                    svg {
                                        path {}
                                    }

                                    &:hover,
                                    &.active {
                                        svg {
                                            path {}
                                        }
                                    }

                                    &:active {}
                                }
                            }
                        }
                    }
                }

                .profile-card__geo-details {
                    margin-top: 10px;
                    justify-content: center;

                    .profile-card__geo-detail {
                        svg {
                            path {}
                        }

                        span {}

                        &:hover {
                            svg {
                                path {}
                            }

                            span {}
                        }
                    }
                }

                .creator-profile-stats-link {
                    flex-direction: column;
                    gap: 16px;

                    .profile-card__stats {
                        border: 1.5px solid #EBEBEB;
                        padding: 17px 16px;
                        background: #F9F9F9;

                        .profile-card__stats-item {
                            /* align-items: center; */
                            width: 100%;

                            .profile-card__stats-num {}

                            .profile-card__stats-label {
                                svg {}

                                span {}
                            }
                        }
                    }

                    .creator-profile-link {
                        a {
                            &:hover {
                                span {}
                            }

                            svg {
                                path {}
                            }

                            span {}
                        }
                    }
                }
            }

            .creator-profile-description {
                p {
                    text-align: center;
                }
            }

            .creator-subscriptions-container {
                .subscriptions-container {
                    ul {
                        li {
                            &:hover {}

                            .subscription-info {
                                .subscription-label {}

                                .subscription-price {
                                    h3 {}

                                    span {}

                                    .save-txt {}
                                }
                            }

                            .subscripton-button {
                                button {}
                            }
                        }
                    }
                }
            }
        }
    }

    /* Multi Tabs Container */
    .multi-tab-section {
        .multi-tabs-layout-container {
            padding: 15px;
        }
    }

    .multi-tabs-action-buttons {
        &>* {}

        .multi-tab-switch-btn {
            &[data__active] {}

            svg {
                path {}
            }

            span {
                display: none;
            }

            &:hover {}
        }
    }
}

@media (max-width: 768px) {}

@media (max-width: 620px) {
    .header-main {
        & .header-container {
            & .header-logo {
                & a {
                    img {
                        width: 150px;
                    }
                }
            }

            .header-search-nav-profile-container {
                gap: 10px;

                .header-search-input {
                    display: none;
                }

                .header-navigation {
                    & nav {
                        & ul {
                            gap: 6px;

                            & li {
                                & a {
                                    width: 40px;

                                    svg {
                                        width: 20px;
                                    }
                                }
                            }
                        }
                    }
                }

                .header-profile-avatar {
                    border-radius: 15px;

                    .profile-avatar {
                        width: 44px;
                        border-radius: inherit;

                        img {
                            border-radius: inherit;
                        }
                    }
                }
            }
        }
    }

    .sidbar-navigation {
        padding: 0;

        ul {
            li {
                a {
                    div {
                        svg {
                            width: 26px;

                            path {}
                        }

                        span {}
                    }

                    &.active,
                    &:hover {
                        div {
                            svg {
                                &.wishlist-icon {
                                    path:nth-child(3) {}
                                }

                                path {}
                            }

                            span {}
                        }
                    }

                    &.active {
                        div {
                            svg {
                                path {}
                            }

                            span {}
                        }
                    }
                }
            }
        }
    }

    /* Profile Card */
    .profile-card {
        &.featured-profile-card {
            padding: 10px;
            gap: 8px;
            border-radius: 14px;

            .profile-card__main {
                .profile-card__avatar-settings {
                    .profile-card__avatar {
                        width: 46px;
                        border-radius: 14px;

                        &::before {}

                        img {}
                    }
                }

                .profile-card__info {
                    .profile-card__name-badge {
                        .profile-card__name {
                            font-size: 16px;
                        }

                        .profile-card__badge {
                            img {
                                width: 24px;
                            }
                        }
                    }

                    .profile-card__username {
                        font-size: 13px;

                        &:hover {}
                    }
                }
            }

            &:hover {
                .profile-card__main {
                    .profile-card__icon {
                        .profile-card__blur-icon {}
                    }
                }
            }
        }

        .profile-card__bg-img {
            &::before {}

            &::after {
                top: 35px;
            }

            img {}

            &~* {}

            img {}
        }

        .profile-card__main {
            .profile-card__avatar-settings {
                .profile-card__avatar {
                    img {}
                }

                .profile-card__settings {
                    width: 24px;

                    svg {
                        width: 15px;
                    }
                }
            }

            .profile-card__info {
                .profile-card__name-badge {
                    .profile-card__name {}

                    .profile-card__badge {
                        img {}
                    }
                }

                .profile-card__username {
                    &:hover {}
                }
            }

            .profile-card__icon {
                .profile-card__blur-icon {
                    &:active {}

                    &:hover {}

                    &.like-button {
                        &.liked {
                            svg {
                                path {}
                            }
                        }
                    }
                }
            }
        }

        .profile-card__stats {
            display: none;

            .profile-card__stats-item {
                &:hover {

                    .profile-card__stats-num,
                    .profile-card__stats-label span {}

                    .profile-card__stats-label {
                        svg {
                            path {}
                        }
                    }
                }

                .profile-card__stats-num {}

                .profile-card__stats-label {
                    svg {
                        path {}
                    }

                    span {}
                }
            }
        }

        .profile-card__desc {
            p {}
        }
    }

    /*  */
    .moneyboy-feed-page-container {
        .moneyboy-feed-page-cate-buttons {
            border-radius: 12px;
            padding: 6px 6px;
            gap: 6px;

            &.is-sticky {
                border-radius: 0 0 12px 12px;
            }

            /* Feed Page Post type Navigation Buttons */
            .page-content-type-button {
                padding: 10px 0px;
                font-size: 16px;
                border-radius: 8px;

                &:hover,
                &.active {}
            }
        }
    }

    /* Posts  */
    .moneyboy-posts-wrapper {
        .moneyboy-post__container {
            padding: 12px;
            gap: 8px;
            border-radius: 16px;

            &:hover {
                .moneyboy-post__media {
                    img {}

                    .moneyboy-post__actions {}
                }
            }

            .moneyboy-post__header {
                flex-wrap: wrap;

                .profile-card {
                    &.featured-profile-card {
                        .profile-card__main {
                            .profile-card__avatar-settings {
                                .profile-card__avatar {
                                    img {}
                                }
                            }

                            .profile-card__info {
                                .profile-card__name-badge {
                                    .profile-card__name {}

                                    .profile-card__badge {
                                        img {}
                                    }
                                }

                                .profile-card__username {}
                            }
                        }

                        &:hover {
                            .profile-card__main {
                                .profile-card__icon {
                                    .profile-card__blur-icon {}
                                }
                            }
                        }
                    }

                    .profile-card__bg-img {
                        &::before {}

                        &::after {}

                        img {}

                        &~* {}

                        img {}
                    }

                    .profile-card__main {
                        gap: 6px;

                        .profile-card__avatar-settings {
                            .profile-card__avatar {
                                border-radius: 14px;
                                width: 50px;

                                img {
                                    border-radius: inherit;
                                }
                            }

                            .profile-card__settings {
                                svg {}
                            }
                        }

                        .profile-card__info {
                            gap: 2px;

                            .profile-card__name-badge {
                                .profile-card__name {
                                    font-size: 14px;
                                }

                                .profile-card__badge {
                                    img {}
                                }
                            }

                            .profile-card__username {
                                font-size: 12px;
                            }
                        }

                        .profile-card__icon {
                            .profile-card__blur-icon {
                                &:hover {}
                            }
                        }
                    }

                    .profile-card__stats {
                        .profile-card__stats-item {
                            &:hover {

                                .profile-card__stats-num,
                                .profile-card__stats-label span {}
                            }

                            .profile-card__stats-num {}

                            .profile-card__stats-label {
                                svg {}

                                span {}
                            }
                        }
                    }

                    .profile-card__desc {
                        p {}
                    }
                }

                .moneyboy-post__upload-more-info {
                    gap: 4px;

                    .moneyboy-post__upload-time {
                        font-size: 10px;
                    }

                    .moenyboy-post__more-opt-btn {
                        svg {
                            width: 16px;

                            path {}
                        }
                    }
                }
            }

            .moneyboy-post__desc {
                font-size: 12px;
                line-height: 16px;

                span {
                    &:hover {}
                }
            }

            .moneyboy-post__media {
                border-radius: 10px;
                aspect-ratio: 1/1;

                &:hover {}

                .moneyboy-post__img {
                    img {
                        border-radius: inherit;
                    }
                }

                .moneyboy-post__actions {
                    left: 8px;
                    right: 8px;
                    bottom: 8px;
                    padding: 6px;
                    border-radius: 12px;

                    ul {
                        gap: 10px;

                        li {
                            a {
                                gap: 4px;

                                svg {
                                    width: 18px;
                                }

                                span {
                                    font-size: 10px;
                                }

                                &:active {
                                    svg {}
                                }

                                &:hover {
                                    svg {
                                        path {}
                                    }

                                    span {}
                                }
                            }
                        }

                        &:nth-child(1) {
                            li {
                                &:nth-child(1) {
                                    a {
                                        svg {}

                                        span {}

                                        &:active {
                                            svg {}
                                        }

                                        &:hover {
                                            svg {
                                                path {
                                                    &:nth-child(1) {}

                                                    &:nth-child(2) {}

                                                    &:nth-child(3),
                                                    &:nth-child(4),
                                                    &:nth-child(5) {}
                                                }
                                            }

                                            span {}
                                        }
                                    }
                                }

                                &:nth-child(2) {
                                    a {
                                        svg {}

                                        span {}

                                        &:active {
                                            svg {}
                                        }

                                        &:hover {
                                            svg {
                                                path {}
                                            }

                                            span {}
                                        }

                                        &.post-like-btn {
                                            &.liked {
                                                svg {
                                                    path {}
                                                }
                                            }
                                        }
                                    }
                                }

                                &:nth-child(3) {
                                    a {
                                        svg {}

                                        span {}

                                        &:active {
                                            svg {}
                                        }

                                        &:hover {
                                            svg {
                                                path {
                                                    &:nth-child(1) {}
                                                }
                                            }

                                            span {}
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 560px) {

    /* Filter Section */
    .content-filters-main-wrapper {
        padding: 10px;

        .content-filters-head-wrapper {
            .content-basic-filters-wrapper {
                .content-basic-filters-container {
                    grid-template-columns: 1fr 1fr 1fr;
                    gap: 5px;

                    .content-filter-card-wrapper {
                        height: 40px;

                        & .content-filter-card {
                            height: 40px;

                            &>.label-input {
                                border-radius: 12px;
                                height: 40px;

                                .input-placeholder-icon {
                                    svg {
                                        width: 15px;
                                        height: 15px;
                                    }
                                }

                                input {
                                    height: 40px;
                                    max-height: 40px;
                                    min-height: 40px;
                                    line-height: 10px;
                                    font-size: 10px;
                                    overflow: hidden;
                                    font-size: 10px;
                                    padding: 0 5px 0 32px;

                                    &::placeholder {
                                        font-size: 10px;
                                    }
                                }
                            }
                        }
                    }

                    .show-advance-filter-btn {
                        grid-column: 1 / -1;
                        margin-top: 3px;

                        .premium-btn {
                            padding: 12px 10px;
                            border-radius: 12px;

                            span {
                                font-size: 14px;
                            }
                        }
                    }
                }
            }
        }

        .content-advanced-filters-wrapper {
            padding: 10px;

            .content-advanced-filters-layout {
                row-gap: 10px;
                column-gap: 5px;
            }
        }
    }

    .moneyboy-feed-sidebar-container {
        .featured-profiles-card-container {
            padding: 12px;
            border-radius: 20px;

            .featured-profiles-header {}

            .featured-card-opts {
                gap: 10px;
            }
        }

        .moneyboy-network-grow-card-wrapper {}
    }

    .multi-tab-section {
        .multi-tabs-layout-container {
            padding: 10px;
        }
    }

    .multi-tabs-action-buttons {
        width: 100%;

        &>* {}

        .multi-tab-switch-btn {
            &[data__active] {}

            svg {
                path {}
            }

            span {
                display: none;
            }

            &:hover {}
        }
    }

    .creator-profile-card-container {
        &.user-profile-card {
            .creator-profile-info-container {
                .profile-card {
                    .profile-info-buttons {
                        .creator-profile-buttons {
                            ul {
                                li {
                                    a {
                                        svg {}

                                        &:hover,
                                        &.active {
                                            svg {
                                                path {}
                                            }
                                        }

                                        &:active {}
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }

        .creator-profile-banner {
            &::before {}

            img {}
        }

        .creator-profile-info-container {
            padding: 16px;
            padding: 16px 12px;

            .profile-card {
                .profile-info-buttons {
                    .profile-card__main {
                        .profile-card__avatar-settings {
                            .profile-card__avatar {
                                &::before {}

                                img {}
                            }
                        }

                        .profile-card__info {
                            .profile-card__name-badge {
                                .profile-card__name {}

                                .profile-card__badge {
                                    img {}
                                }
                            }

                            .profile-card__username {
                                &:hover {}
                            }
                        }
                    }

                    .creator-profile-buttons {
                        ul {
                            gap: 5px;

                            li {
                                a {
                                    svg {
                                        path {}
                                    }

                                    &:hover,
                                    &.active {
                                        svg {
                                            path {}
                                        }
                                    }

                                    &:active {}
                                }
                            }
                        }
                    }
                }

                .profile-card__geo-details {
                    .profile-card__geo-detail {
                        svg {
                            path {}
                        }

                        span {}

                        &:hover {
                            svg {
                                path {}
                            }

                            span {}
                        }
                    }
                }

                .creator-profile-stats-link {
                    .profile-card__stats {
                        gap: 10px;
                        justify-content: space-evenly;
                        width: 100%;

                        .profile-card__stats-item {
                            .profile-card__stats-num {}

                            .profile-card__stats-label {
                                svg {}

                                span {}
                            }
                        }
                    }

                    .creator-profile-link {
                        a {
                            &:hover {
                                span {}
                            }

                            svg {
                                path {}
                            }

                            span {}
                        }
                    }
                }
            }

            .creator-profile-description {
                p {}
            }

            .creator-subscriptions-container {
                .subscriptions-container {
                    ul {
                        li {
                            padding: 10px;

                            &:hover {}

                            .subscription-info {
                                gap: 6px;

                                .subscription-label {
                                    font-size: 14px;
                                    min-width: max-content;
                                }

                                .subscription-price {
                                    display: grid;
                                    grid-template-columns: auto auto;
                                    gap: 0;
                                    position: relative;
                                    top: 1px;

                                    h3 {
                                        font-size: 15px;
                                        line-height: 18px;
                                    }

                                    span {
                                        font-size: 10px;
                                        line-height: 16px;
                                        margin: 0;
                                    }

                                    .save-txt {
                                        font-size: 8px;
                                        margin: 0;
                                        position: absolute;
                                        left: 0;
                                        bottom: -16px;
                                    }
                                }
                            }

                            .subscripton-button {
                                button {}
                            }
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 380px) {
    .creator-profile-card-container {
        .creator-profile-info-container {
            .profile-card {
                .profile-info-buttons {
                    .profile-card__main {
                        .profile-card__avatar-settings {
                            .profile-card__avatar {
                                &::before {}

                                img {}
                            }
                        }

                        .profile-card__info {
                            .profile-card__name-badge {
                                .profile-card__name {}

                                .profile-card__badge {
                                    img {}
                                }
                            }

                            .profile-card__username {
                                &:hover {}
                            }
                        }
                    }

                    .creator-profile-buttons {
                        ul {
                            gap: 0;

                            li {
                                a {
                                    svg {
                                        path {}
                                    }

                                    &:hover,
                                    &.active {
                                        svg {
                                            path {}
                                        }
                                    }

                                    &:active {}
                                }
                            }
                        }
                    }
                }

                .profile-card__geo-details {
                    .profile-card__geo-detail {
                        svg {
                            path {}
                        }

                        span {}

                        &:hover {
                            svg {
                                path {}
                            }

                            span {}
                        }
                    }
                }

                .creator-profile-stats-link {
                    .profile-card__stats {
                        .profile-card__stats-item {
                            .profile-card__stats-num {}

                            .profile-card__stats-label {
                                svg {}

                                span {}
                            }
                        }
                    }

                    .creator-profile-link {
                        a {
                            &:hover {
                                span {}
                            }

                            svg {
                                path {}
                            }

                            span {}
                        }
                    }
                }
            }

            .creator-profile-description {
                p {}
            }

            .creator-subscriptions-container {
                .subscriptions-container {
                    ul {
                        li {
                            &:hover {}

                            .subscription-info {
                                flex-direction: column;
                                align-items: start;

                                .subscription-label {}

                                .subscription-price {
                                    h3 {}

                                    span {}

                                    .save-txt {}

                                    &:has(.save-txt) {
                                        margin-bottom: 10px;
                                    }
                                }
                            }

                            .subscripton-button {
                                button {}
                            }
                        }
                    }
                }
            }
        }
    }
}